/* ESTILO BOTONES DEL HEADER */

.btn-header {
    margin: 20px 0;
    width: 100%;
}

#btn-buscar {
    float: right;
    margin-top: 10px;
}


/* ESTILO PARA CONTENEDORES */

.lblForm {
    padding-top: 6px;
}

.row {
    margin-top: 10px;
}


/* ESTILO PARA TABLETS */

@media only screen and (min-width:600px) {
    /* BOTONES */
    .btn-header {
        width: 100%;
        margin-top: 10px;
    }
    .btn-nuevo {
        float: none;
    }
}


/* ESTILO PARA COMPUTADORAS */

@media only screen and (min-width: 992px) {
    /* BOTONES */
    .btn-header {
        width: 120px;
        margin-top: 10px;
    }
    #btn-limpiar {
        width: 150px;
    }
    /*ESTILO CONTENEDOR FECHAS*/
    .radio-contenedor-fecha {
        padding-top: 6px;
    }
}