<div class="container-fluid">
    <!-- INICIA SPINNER -->
    <div *ngIf="!datosCargados()" class="card justify-content-center">
        <div class="spinner-border d-flex align-self-center m-5" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- TERMINA SPINNER -->
    <div *ngIf="datosCargados()" class="card">
        <div class="content-header">
            <!-- INICIA FILTROS DE BUSQUEDA -->
            <form>
                <div class="input-group mb-3 row">
                    <!-- CUADRILLA -->
                    <div class="col-md-7">
                        <div class="row">
                            <label class="lblCuadrilla col-md-auto col-form-label" for="cuadrillaSelector">Cuadrilla</label>
                            <div class="col-md-6 col-12">
                                <select class="custom-select" id="cuadrillaSelector" [formControl]="cuadrillaForm">
                                    <option disabled hidden [ngValue] = "0">Seleccionar</option>   
                                    <option *ngIf="listaCuadrillas.length > 0" [ngValue] = "00">Todos</option>
                                    <option disabled *ngIf="listaCuadrillas.length === 0"> No hay opciones disponibles</option>
                                    <option  *ngFor="let cuadrilla of listaCuadrillas" [ngValue]="cuadrilla.ID_cuadrilla">
                                        {{ cuadrilla.Nombre_cuadrilla }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- BOTONES -->
                    <div class="col-md-3 col-sm-6">
                        <button id="btn-limpiar" type="button" class="btn-header" mat-raised-button color="primary" (click)="limpiarBusqueda()">
                                     Limpiar búsqueda
                        </button>
                    </div>
                    <div class=" col-md-2 col-sm-6">
                        <button id="btn-buscar" type="button" class="btn btn-primary btn-header" mat-raised-button color="primary" (click)="buscar()">
                            <i class="fas fa-search"></i>
                                     Buscar
                        </button>
                    </div>
                </div>
            </form>
            <!-- TERMINA FILTROS DE BUSQUEDA -->
        </div>
        <div class="content-card">
            <!-- TABLA -->
            <div class="table-wrapper">
                <table class="table table-bordered mb-0">
                    <thead>
                        <tr>
                            <th [ngClass]="tamanoColumna(encabezado)" *ngFor="let encabezado of headersTabla" scope="col">{{encabezado}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let reporte of listaReportes">
                            <td>{{ reporte.ID_reporte }}</td>
                            <td>{{ reporte.Estatus_reporte | estadoReporte }}</td>
                            <td>{{ reporte.sectorDescripcion }}</td>
                            <td>{{ reporte.Direccion_reporte }}</td>
                            <td>
                                <div class="botones-wrapper">
                                    <button type="button" id="btn-editar" class="btn-proceso" mat-raised-button (click)="seleccionarReporte(reporte )">
                                        Seleccionar
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="sin-resultados-texto" *ngIf="listaReportes.length===0">
                    No se encontraron coincidencias.
                </div>
            </div>
            <!--TERMINA TABLA -->
        </div>
    </div>
</div>