/*ESTILO BOTONES*/

.btn-header {
    margin: 20px 0;
    width: 100%;
}

#btn-limpiar {
    width: 100%;
}

#btn-buscar {
    width: 100%;
}


/* ESTILO PARA CONTENEDORES */

.lblForm {
    padding-top: 6px;
}

.row {
    margin-top: 10px;
}


/* ESTILO PARA TABLETS*/

@media only screen and (min-width:600px) {
    /*ESTILO PARA BOTONES*/
    .btn-header {
        margin-top: 10px;
        width: 120px;
    }
    #btn-limpiar {
        width: 100%;
    }
}


/* ESTILO PARA COMPUTADORAS */

@media only screen and (min-width: 992px) {
    /* ESTILO PARA BOTONES */
    .btn-header {
        margin-top: 10px;
        width: 120px;
    }
    #btn-limpiar {
        width: 150px;
    }
    #btn-buscar {
        width: 120px;
    }
}