<div class="wrapper">
    <!--BARRA SUPERIOR CON LEYENDA DEL SISTEMA-->
    <app-navbar></app-navbar>

    <!--SIDEBAR-->
    <app-sidebar></app-sidebar>

    <div class="content-wrapper">
        <div class="content-header">
            <!-- HEADER PARA MOSTRAR NOMBRE DE SECCION -->
            <app-header [seccion]="seccion"></app-header>
        </div>

        <!-- Main content PARA MOSTRAR LOS MODULOS -->
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div>
    <!-- FOOTER -->
    <app-footer></app-footer>
</div>