<div class="container-fluid">
    <!-- SPINNER -->
    <div *ngIf="!datosCargados()" class="card justify-content-center">
        <div class="spinner-border d-flex align-self-center m-5" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- TERMINA SPINNER -->
    <div *ngIf="datosCargados()" class="card">
        <div class="content-header">
            <!-- INICIA FORMULARIO PARA FILTRO DE BUSQUEDA -->
            <form [formGroup]="form">
                <div class="row">
                    <!-- TIPO DE REPORTES -->
                    <div class="col-md-5 col-sm-6 col-12">
                        <div class="row input-group">
                            <label class="lblForm col-lg-auto col-md-12" for="tipoReporteSelector">Tipo de reporte</label>
                            <div class="col-lg-6 col-md-12">
                                <select class="custom-select" id="tipoReporteSelector" formControlName="tipoReporte">
                                    <option disabled hidden [ngValue] = "0">Seleccionar</option>
                                    <option *ngIf="listaTiposR.length > 0" [ngValue] = "00">Todos</option>
                                    <option disabled *ngIf="listaTiposR.length === 0"> No hay opciones disponibles</option>
                                    <option *ngFor="let tipo of listaTiposR" [ngValue] = "tipo.ID_tipoReporte"> 
                                        {{tipo.Descripcion_tipoReporte}} 
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- CUADRILLAS -->
                    <div class="col-md-7 col-sm-6 col-12">
                        <div class="row input-group">
                            <label class="lblForm col-lg-auto col-md-12" for="cuadrillaSelector">Cuadrilla</label>
                            <div class="col-lg-5 col-md-12">
                                <select class="custom-select" id="cuadrillaSelector" formControlName="cuadrilla">
                                    <option disabled hidden [ngValue] = "0">Seleccionar</option>
                                    <option *ngIf="listaCuadrillas.length > 0" [ngValue] = "00"> Todos</option>
                                    <option disabled *ngIf="listaCuadrillas.length === 0"> No hay opciones disponibles</option>
                                    <option *ngFor="let cuadrilla of listaCuadrillas" [ngValue] = "cuadrilla.ID_cuadrilla">
                                         {{ cuadrilla.Nombre_cuadrilla }} 
                                        </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- ESTADO -->
                    <div class="col-md-5 col-sm-6 col-12">
                        <div class="row input-group">
                            <label class="lblForm col-lg-auto col-md-12" for="estadoSelector">Estado</label>
                            <div class="col-lg-7 col-md-12">
                                <select class="custom-select" id="estadoSelectorAR" formControlName="estado">
                                    <option  value = "00" >Todos</option>
                                    <option value="1">Abierto</option>
                                    <option value="2">Cerrado</option>
                                    <option value="3">Inconcluso</option>
                                    <option value="4">Cancelado</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- SECTOR -->
                    <div class="col-md-4 col-sm-6 col-12">
                        <div class="row input-group">
                            <label class="lblForm col-lg-auto col-md-12" for="sectorSelector">Sector</label>
                            <div class="col-lg-8 col-md-12">
                                <select class="custom-select" id="sectorSelector" formControlName="sector">
                                    <option disabled hidden [ngValue] = "0">Seleccionar</option>
                                    <option *ngIf="listaSectores.length > 0" [ngValue] = "00" >Todos</option>
                                    <option disabled *ngIf="listaSectores.length === 0"> No hay opciones disponibles</option>
                                    <option *ngFor="let sector of listaSectores" [ngValue] = "sector.ID_sector">
                                        {{ sector.Descripcion_sector }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- ORIGEN -->
                    <div class="col-md-3 col-sm-6 col-12">
                        <div class="row input-group">
                            <label class="lblForm col-lg-auto col-md-12" for="origenSelector">Origen</label>
                            <div class="col-lg-7 col-md-12">
                                <select class="custom-select" id="origenSelector" formControlName="origen">
                                    <option disabled hidden value = "0">Seleccionar</option>
                                    <option value = "00">Todos</option>
                                    <option value="1">App</option>
                                    <option value="2">Web</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- SECCION PARA FILTROS DE FECHA -->
                <div class="row">
                    <!-- FECHA INICIAL -->
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="row input-group">
                            <label class="lblForm col-lg-auto col-md-12" for="fechaInicio">Fecha </label>
                            <div class="col-lg-8 col-md-12">
                                <input type="date" class="form-control" id="fechaInicio" formControlName="fechaInicio">
                            </div>
                        </div>
                    </div>

                    <!-- FECHA FINAL -->
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="row input-group">
                            <label class="lblForm col-lg-auto col-md-12" for="fechaFinal">al </label>
                            <div class="col-lg-9 col-md-12">
                                <input type="date" class="form-control" id="fechaFinal" formControlName="fechaFinal">
                            </div>
                        </div>
                    </div>
                    <!-- TOGGLE TIPO DE FECHA -->
                    <div class="col-lg-6 col-md-4 col-sm-6 col-12">
                        <div class="row input-group">
                            <label id="lblGenero" class=" lblForm col-lg-auto col-md-12">Tipo de fecha: </label>
                            <div class="col-lg-7 col-md-12">
                                <div class="form-check form-check-inline radio-contenedor-fecha">
                                    <input class="form-check-input" type="radio" name="tipoFecha" id="fechaA" value="a" formControlName="tipoFecha">
                                    <label class="form-check-label" for="fechaA">Apertura</label>
                                </div>
                                <div class="form-check form-check-inline radio-contenedor-fecha">
                                    <input class="form-check-input" type="radio" name="tipoFecha" id="fechaC" value="c" formControlName="tipoFecha">
                                    <label class="form-check-label" for="fechaC">Cierre</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- SECCION PARA FILTROS DE BUSQUEDA -->

                <!-- BOTONES -->
                <div class="row justify-content-end">
                    <div class="col-lg-2 col-md-12 col-12">
                        <button id="btn-limpiar" type="button" class="btn-header" mat-raised-button color="primary" (click)="limpiarBusqueda()">
                                     Limpiar búsqueda
                        </button>
                    </div>
                    <div class="col-lg-2 col-md-6 col-12">
                        <button id="btn-buscar" type="button" class="btn btn-primary btn-header" mat-raised-button color="primary" (click)="buscar()">
                            <i class="fas fa-search"></i>
                                     Buscar
                        </button>
                    </div>
                    <div class="col-lg-2 col-md-6 col-12">
                        <button id="btn-nuevo" type="button" class="btn-header" mat-raised-button color="primary" (click)="nuevoReporte()">
                            <i class="fas fa-plus-circle"></i> 
                                    Nuevo
                        </button>
                    </div>
                </div>
                <!-- TERMINA BOTONES -->
            </form>
        </div>
        <div class="content-card">
            <!-- TABLA -->
            <div class="table-wrapper">
                <table class="table table-bordered mb-0">
                    <thead>
                        <tr>
                            <th [ngClass]="tamanoColumna(encabezado)" *ngFor="let encabezado of headersTabla" scope="col">{{encabezado}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let reporte of listaReportes">
                            <td>{{ reporte.ID_reporte }}</td>
                            <td>{{ reporte.FechaRegistro_reporte | customDate }}</td>
                            <td>{{ reporte.FechaCierre_reporte | customDate }}</td>
                            <td>{{ reporte.Estatus_reporte | estadoReporte }}</td>
                            <td>{{ reporte.sectorDescripcion }}</td>
                            <td>{{reporte.Direccion_reporte}}</td>
                            <td>
                                <div class="botones-wrapper">
                                    <button type="button" id="btn-ver" class="btn-proceso" mat-raised-button (click)="verReporte(reporte)"> <i class="fas fa-eye"></i> Ver</button>
                                    <button type="button" id="btn-editar" class="btn-proceso" mat-raised-button (click)="editarReporte(reporte)"><i class="fas fa-pen"></i> Editar</button>
                                </div>

                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="sin-resultados-texto" *ngIf="listaReportes.length===0">
                    No se encontraron coincidencias.
                </div>
            </div>
            <!-- TERMINA TABLA -->
        </div>
    </div>

</div>