/* ESTILO BOTONES DEL HEADER */

.btn-header {
    margin: 20px 0;
    width: 100%;
}

#btn-nuevo {
    float: right;
    margin-top: 10px;
}

#btn-buscar {
    float: right;
    margin-top: 10px;
}


/* ESTILO PARA CONTENEDORES */

.lblForm {
    padding-top: 6px;
}

.row {
    margin-top: 10px;
}


/* ESTILO PARA TABLA */

@media only screen and (min-width:600px) {
    div.grupo-busqueda {
        text-align: center;
    }
    /* BOTONES */
    .btn-header {
        width: 100%;
        margin-top: 10px;
    }
    #btn-nuevo {
        float: none;
    }
}


/* Para computadoras */

@media only screen and (min-width: 992px) {
    /* BOTONES */
    .btn-header {
        width: 120px;
        margin-top: 10px;
    }
    #btn-limpiar {
        width: 150px;
    }
    #btn-nuevo {
        float: right;
    }
    /*Fechas*/
    .radio-contenedor-fecha {
        padding-top: 6px;
        ;
    }
}