/* GENERAL */

button {
    outline: none;
}


/*SPINNER*/

.spinner-container {
    text-align: center;
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

div#content-dialog {
    padding-bottom: 30px;
}

.container-fluid {
    height: calc(100vh * 0.28);
}


/* CAMPOS DATOS */

.form-sections {
    margin: 20px 0;
    /* height: 38px; */
    box-sizing: border-box;
}

div#inactivo-col {
    text-align: center;
}

.row-input-group {
    height: 85px;
    max-height: 85px;
}

.error {
    margin: 0;
    color: #ff0000;
    font-size: 0.8rem;
}


/* Para tablets */

@media screen and (min-width:600px) {
    .row-input-group {
        height: 85px;
        max-height: 85px;
    }
    div#inactivo-col {
        text-align: center;
    }
}


/* Para computadoras */

@media only screen and (min-width: 992px) {
    .row-input-group {
        height: 58px;
        max-height: 58px;
    }
    div#inactivo-col {
        text-align: right;
    }
}