<div class="row mb-3">
    <div class="col-lg-8 col-md-6">
        <agm-map *ngIf="disponibilidad" id="mapa" [latitude]="lat" [longitude]="lng" [zoom]=zoom class="center">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
        <div *ngIf="!disponibilidad" id="mapa" class="center">
            <p class="align-self-center">Localización en mapa no disponible</p>
        </div>
    </div>
    <div id="datos-reporte-container" class="col-lg-4 col-md-6">
        <section class=" mb-3" id="datos-reporte">
            <div class="row mt-2">
                <div class="col">
                    <h3 class="sin-margin">Datos del reporte</h3>
                </div>
                <div class="col-12 campo-datos-reporte">
                    <h4 class="sin-margin">Descripción:</h4>
                    <p id="descripcion">{{ reporteDatos.Observaciones_reporte }}</p>
                </div>

                <div class="col-12 campo-datos-reporte">
                    <h4 class="sin-margin">Calle:</h4>
                    <p id="calle">{{ reporteDatos.Direccion_reporte }} </p>
                </div>

                <div class="col-12 campo-datos-reporte">
                    <h4 class="sin-margin">Colonia:</h4>
                    <p id="colonia">{{ reporteDatos.Colonia_reporte }} </p>
                </div>

                <div class="col-12 campo-datos-reporte">
                    <h4 class="sin-margin">Fecha:</h4>
                    <p id="fechaInicio"> {{ reporteDatos.FechaRegistro_reporte | customDate }} </p>
                </div>
            </div>
        </section>
    </div>
</div>