/* GENERALES */

h3,
h4 {
    font-weight: bold;
}

p {
    margin-left: 5px;
    font-size: 0.85rem;
}

button {
    outline: none;
}

.container-fluid {
    height: 420px;
}

.sin-margin {
    margin: 0;
}

.row-input-group {
    height: 80px;
    max-height: 80px;
}

.error {
    margin: 0;
    color: #ff0000;
}

.ocultar {
    display: none;
}


/* IMAGENES */

.img-group {
    margin: 10px 0;
}

#imagenesReporte {
    margin-top: 80px;
}

.img-container {
    display: inline-block;
}

.img-reporte {
    width: 100%;
    height: auto;
    margin: 10px;
}

.uploadedImages {
    width: 30%;
    height: auto;
    margin: 10px;
}

#btn-subirImg {
    background-color: #ececf0;
    margin-bottom: 20px;
}


/* Para tablets */

@media screen and (max-width:600px) {
    .row-input-group {
        height: 70px;
        max-height: 75px;
    }
}


/* Para computadoras */

@media only screen and (min-width: 992px) {
    #datos-reporte-container {
        margin-top: 10px;
    }
    .img-reporte {
        width: 45%;
        height: auto;
        margin: 10px;
    }
    .row-input-group {
        height: 58px;
        max-height: 58px;
    }
}