/* GENERAL */

button {
    outline: none;
}

.form-sections {
    margin: 20px 0;
    box-sizing: border-box;
}

section#usuarioContrasena {
    margin-top: 30px;
}

div#content-dialog {
    padding-bottom: 15px;
}

.container-fluid {
    height: calc(100vh * 0.28);
}


/* CAMPOS DE DATOS */

div#inactivo-col {
    text-align: right;
}

.row-input-group {
    height: 85px;
    max-height: 85px;
}

.error {
    margin: 0;
    color: #ff0000;
    font-size: 0.8rem;
}

@media screen and (min-width:600px) {
    .row-input-group {
        height: 85px;
        max-height: 85px;
    }
    div#inactivo-col {
        text-align: center;
    }
}


/* Para computadoras */

@media only screen and (min-width: 992px) {
    .row-input-group {
        height: 58px;
        max-height: 58px;
    }
    div#inactivo-col {
        text-align: right;
    }
}