<h2 mat-dialog-title>{{ accion | capitalizado }} cuadrilla</h2>
<hr>
<div mat-dialog-content id="content-dialog">
    <div class="container-fluid">
        <form [formGroup]="form">
            <div class="row form-sections">

                <div class="col-6" id="id-col">
                    <div class="form-group header-form-group row justify-content-start">
                        <label class="col-md-auto col-2 col-form-label col-form-label-sm" for="id">ID</label>
                        <div class="col-md-4 col-10 ">
                            <input type="text" class="form-control" id="id" formControlName="id">
                        </div>
                    </div>
                </div>

                <div class="col-6" id="inactivo-col">
                    <div class="form-check header-form-group justify-content-end">
                        <input class="form-check-input" type="checkbox" id="inactivo-checkbox" formControlName="estado">
                        <label class="form-check-label" for="inactivo-checkbox">
                                Inactivo
                            </label>
                    </div>
                </div>

            </div>
            <!-- FILA NOMBRE -->
            <div class="row form-group form-sections row-input-group">
                <label id="lblNombre" class="col-form-label col-md-auto" for="nombreCuadrilla">Nombre: </label>
                <div class="col p-0">
                    <input type="text" class="form-control" id="nombreCuadrilla" formControlName="nombreC">
                    <div *ngIf="campoNombreCuadrilla.errors && campoNombreCuadrilla.touched">
                        <p class="error" *ngIf="campoNombreCuadrilla.hasError('required')">Campo requerido</p>
                    </div>
                </div>
            </div>
            <!-- TERMINA FILA NOMBRE -->

            <!-- ENCARGADO -->
            <div class="row form-sections row-input-group">
                <label class="lblForm col-form-label col-md-auto" for="encargadoSelector">Encargado</label>
                <div class="col-lg-6 col-md-6 col-12">
                    <select class="custom-select" id="encargadoSelector" formControlName="encargado">
                        <option>---</option>
                        <option *ngFor="let jefe of jefesCuadrillaDisp" 
                        [selected]="inicializarSelJefe(jefe.ID_usuario)" >
                             {{ jefe.Nombre_usuario }}
                            </option>
                    </select>
                    <div *ngIf="campoNombreEncargado.errors && campoNombreEncargado.touched">
                        <p class="error" *ngIf="campoNombreEncargado.hasError('required')">Campo requerido</p>
                    </div>
                </div>
            </div>
            <!-- TERMINA ENCARGADO -->

            <!-- TIPO DE CUADRILLA -->
            <div class="row form-sections row-input-group">
                <label class="lblForm col-form-label col-md-auto" for="tipoCuadrillaSelector">Tipo de cuadrilla</label>
                <div class="col-lg-6 col-md-6 col-12">
                    <select class="custom-select" id="tipoCuadrillaSelector" formControlName="tipoCuadrilla">
                        <option *ngFor = "let tipo of tipoCuadrilla"> {{ tipo }} </option>
                    </select>
                    <div *ngIf="campoTipoCuadrilla.errors && campoTipoCuadrilla.touched">
                        <p class="error" *ngIf="campoTipoCuadrilla.hasError('required')">Campo requerido</p>
                    </div>
                </div>
            </div>
            <!-- TERMINA TIPO DE CUADRILLA -->
        </form>
    </div>
</div>
<div matDialogActions align="end">
    <button type="button" (click)="guardar()" [disabled]="accion === 'ver'" mat-raised-button color="primary">Guardar</button>
    <button mat-raised-button (click)="cerrarDialog()">Cerrar</button>
</div>