<h2 mat-dialog-title>{{ accion | capitalizado }} cuadrilla</h2>
<hr>
<div mat-dialog-content id="content-dialog">
    <div class="container-fluid">
        <!-- SPINNERS -->
        <!-- INICIA SPINNER PARA CARGAR PAGINA -->
        <div *ngIf="!datosCargados()" class="spinner-container">
            <div class="spinner-border align-self-center" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- TERMINA SPINNER PARA CARGAR PAGINA -->

        <!-- INICIA SPINNER PROCESANDO REGISTRO/ACTUALIZACION -->
        <div *ngIf="procesando" class="row horizontal-align">
            <div class="col-12 align-self-center">
                <div class="spinner-border centrar-margen-izquierdo" role="status"></div>
                <h2 class="text-center mt-3">Guardando información</h2>
            </div>
        </div>
        <!-- TERMINA SPINNER PROCESANDO REGISTRO/ACTUALIZACION -->
        <!-- TERMINAN SPINNERS -->

        <!-- INICIA FORMULARIO CUADRILLA -->
        <form [formGroup]="form" *ngIf="datosCargados() && !procesando && !finalProceso">
            <div class="row form-sections">
                <!-- ID DE CUADRILLA -->
                <div class="col-6" id="id-col">
                    <div class="form-group header-form-group row justify-content-start">
                        <label class="col-md-auto col-2 col-form-label col-form-label-sm" for="id">ID</label>
                        <div class="col-md-4 col-10 ">
                            <input type="text" class="form-control" id="id" formControlName="id">
                        </div>
                    </div>
                </div>

                <!-- ESTADO -->
                <div class="col-6" id="inactivo-col">
                    <div class="form-check header-form-group justify-content-end">
                        <input class="form-check-input" type="checkbox" id="inactivo-checkbox" formControlName="estado">
                        <label class="form-check-label" for="inactivo-checkbox">
                                Inactivo
                            </label>
                    </div>
                </div>
            </div>

            <!-- FILA NOMBRE -->
            <div class="row form-group form-sections row-input-group">
                <label id="lblNombre" class="col-form-label col-md-auto" for="nombreCuadrilla">Nombre: </label>
                <div class="col p-0">
                    <input type="text" maxlength="25" class="form-control" id="nombreCuadrilla" formControlName="nombreC">
                    <div *ngIf="campoNombreCuadrilla.errors && campoNombreCuadrilla.touched">
                        <p class="error" *ngIf="campoNombreCuadrilla.hasError('required')">Campo requerido</p>
                        <p class="error" *ngIf="campoNombreCuadrilla.hasError('pattern')">No se permiten números ni caracteres especiales.</p>
                    </div>
                    <div *ngIf="existeCuadrilla">
                        <p class="error">Ya existe una Cuadrilla con este nombre. Intente otro.</p>
                    </div>
                </div>
            </div>
            <!-- TERMINA FILA NOMBRE -->

            <!-- ENCARGADO -->
            <div class="row form-sections row-input-group">
                <label class="lblForm col-form-label col-md-auto" for="encargadoSelector">Encargado</label>
                <div class="col-lg-6 col-md-6 col-12">
                    <select class="custom-select" id="encargadoSelector" formControlName="encargado">
                        <option disabled hidden [ngValue]="0">Seleccionar</option>
                        <option disabled *ngIf="jefesCuadrillaDisp.length === 0"> No hay opciones disponibles</option>
                        <option *ngFor="let jefe of jefesCuadrillaDisp"
                        [ngValue] = jefe.ID_usuario >
                             {{ jefe.Nombre_usuario }}
                            </option>
                    </select>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <button class="mt-md-0 mt-3" type="button" id="btn-jefe" *ngIf="accion !== 'ver'" [disabled]="desactivarJefeBtn()" mat-raised-button (click)="removerJefe()">
                        <i class="fas fa-window-close"></i> 
                        Remover jefe
                    </button>
                </div>
            </div>
            <!-- TERMINA ENCARGADO -->

            <!-- TIPO DE CUADRILLA -->
            <div class="row form-sections row-input-group mt-md-3 mt-5">
                <label class="lblForm col-form-label col-md-auto" for="tipoCuadrillaSelector">Tipo de cuadrilla</label>
                <div class="col-lg-6 col-md-6 col-12">
                    <select class="custom-select" id="tipoCuadrillaSelector" formControlName="tipoCuadrilla">
                        <option disabled hidden [ngValue]="0">Seleccionar</option>
                        <option *ngIf="tiposCuadrilla.length === 0"> No hay opciones disponibles</option>
                        <option *ngFor = "let tipo of tiposCuadrilla" [ngValue]="tipo.ID_tipoReporte">
                             {{ tipo.Descripcion_tipoReporte }} 
                            </option>
                    </select>
                    <div *ngIf="errorTipoC(campoTipoCuadrilla.value) && campoTipoCuadrilla.touched">
                        <p class="error" *ngIf="campoTipoCuadrilla.hasError('required')">Campo requerido</p>
                    </div>
                </div>
            </div>
            <!-- TERMINA TIPO DE CUADRILLA -->
        </form>
        <!-- INICIA TEXTO DE CONFIRMACION DE PROCESO -->
        <div *ngIf="!procesando && finalProceso" class="row horizontal-align">
            <div class="col align-self-center">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <span class="icono-confirmacion horizontal-align-elements ">
                            <i *ngIf="!error" class="fas fa-check fa-9x"></i>                   
                        </span>
                        <span class="icono-error horizontal-align-elements "> 
                            <i *ngIf="error" class="fas fa-times fa-9x"></i>                  
                        </span>
                    </div>
                    <div class="col-12">
                        <h2 class="text-center mensaje-confirmacion">{{ mensajeResultado }}</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- TERMINA  TEXTO DE CONFIRMACION DE PROCESO  -->
    </div>
</div>
<div matDialogActions align="end">
    <button type="button" (click)="guardar()" [disabled]="deshabilitarGuardar()" mat-raised-button color="primary">Guardar</button>
    <button mat-raised-button (click)="cerrarDialog()">Cerrar</button>
</div>