/* You can add global styles to this file, and also import other style files */


/*GENERAL*/

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #f4f6f9;
}

button {
    outline: none;
}


/*ESTILO CONTENEDOR CARD*/

.card {
    padding: 15px 15px 20px;
}


/*CLASES ESTILO PARTE SUPERIOR CARD*/


/*ESTILO BOTONES*/

button.btn-header {
    padding: 0 20px;
    width: 110px;
    background-color: #3f51b5;
    outline: none;
    float: right;
}

.btn-proceso {
    width: 100px;
    margin: 5px 0;
    background-color: #ececf0;
}


/* ESTILO PARA ICONO DE LOS BOTONES */

.mat-icon {
    font-size: 18px;
    padding-top: 2px;
}


/*ESTILO PARA ELEMENTOS DE FORMULARIOS*/

.error {
    margin: 0;
    color: #ff0000;
    font-size: 0.8rem;
}


/* ESTILO PARA TABLA  */

table {
    width: 100%;
    max-height: 55vh;
    margin: 0;
    position: relative;
    border-collapse: collapse;
}

.table-wrapper {
    height: 100%;
    max-height: calc(100vh - (100vh / 3));
    width: 100%;
    overflow-y: auto;
    border: 1px solid #dadadd;
}

th {
    background: #dadadd;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    text-align: center;
}

.id-col {
    width: 10%;
    max-width: 10%;
}

.general-col {
    vertical-align: middle;
}

.botones-procesos-col,
.boton-seleccionar-col {
    width: 170px;
}

div.botones-wrapper {
    text-align: center;
}


/*ESTILO MENSAJE EN TABLA*/

.sin-resultados-texto {
    text-align: center;
    padding: 20px 5px;
}


/* ESTILO PARA TABLETS */

@media only screen and (min-width:600px) {
    /*ESTILO CONTENEDOR CARD*/
    .card {
        padding: 15px 15px 20px;
    }
    /*ESTILO PARA TABLA*/
    .table-wrapper {
        height: 100%;
        max-height: calc(100vh - (100vh * 0.40));
    }
    table td {
        padding: 5px 5px;
        box-sizing: border-box;
        text-align: center;
    }
    .id-col {
        text-align: center;
    }
    .botones-procesos-col,
    .boton-seleccionar-col {
        width: 170px;
    }
    /* ESTILO PARA BOTONES */
    button.btn-header {
        margin-top: 20px;
        width: 100%;
    }
    button.btn-proceso {
        width: 100px;
        margin: 5px 8px;
    }
}


/* ESTILO PARA COMPUTADORAS */

@media only screen and (min-width: 992px) {
    /*ESTILO PARA CONTENEDOR CARD*/
    .card {
        padding: 15px 15px 25px;
    }
    /*ESTILO PARA TABLA*/
    .table-wrapper {
        height: 100%;
        max-height: calc(100vh - (100vh * 0.45));
    }
    .botones-procesos-col {
        width: 35%;
    }
    .boton-seleccionar-col {
        width: 15%;
    }
    div.botones-wrapper {
        text-align: center;
    }
    /*ESTILO PARA BOTONES*/
    button.btn-proceso {
        width: 100px;
        margin: 5px 10px;
        line-height: 30px;
        padding: 0 12px;
    }
}