h3 {
    font-weight: 600;
    text-align: center;
}

p {
    text-align: center;
}

input {
    margin: 25px 0;
}

button {
    outline: none;
}

a {
    color: #1c64ac;
    font-weight: 700;
}

a:hoover {
    color: #083258;
}

input {
    margin: 5px 0;
}

.error {
    margin: 0;
}

.error-contenedor {
    margin: 0 0 10px;
}

.contenedor-recuperacion {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 450px;
    padding: 10px 20px;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    background-image: linear-gradient( #dce1e2, #ffffff);
}

.mensajeVolver {
    color: #474849;
    font-size: 0.8rem;
    margin-top: 10px;
}

#titulo {
    margin-top: 10%;
    text-align: center;
}

p#indicacionPassword {
    color: #343a40;
    font-size: 0.9rem;
    font-weight: 500;
}