<div class="container">
    <h2 id="titulo">Recuperación de contraseña</h2>
    <form>
        <!-- Solicitud de clave para recuperación -->
        <div id="enviarToken" class="contenedor-recuperacion shadow p-3 rounded" *ngIf="pedirToken">
            <h3>Introduzca el correo electrónico con el que creó su cuenta.</h3>
            <p>En breve se enviará una clave para modificar su contraseña.</p>
            <input id="emailInput" class="form-control" type="text" [formControl]="email">
            <div class="error-contenedor" *ngIf="email.errors && email.touched">
                <p class="error" *ngIf="email.hasError('required')">Este campo es requerido.</p>
                <p class="error" *ngIf="email.hasError('email')">Ingrese un correo válido.</p>
            </div>
            <button type="button" class="btn-block" mat-raised-button color="primary" [disabled]="botonDesactivado" (click)="recuperarPassword()">Enviar</button>
            <div>
                <p class="mensajeVolver">Si no desea continuar presione <a href="javascript:void(0)" (click)="volverInicio()">aquí</a> para volver al inicio de sesión.</p>
            </div>
        </div>

        <!-- Verificación de clave -->
        <div id="verificarToken" class="contenedor-recuperacion shadow p-3 rounded" *ngIf="recibirToken">
            <h3>Ingrese la clave de verificación.</h3>
            <p>Si no recibió ningún correo, haga click <a href="javascript:void(0)" (click)="enviarCorreo()">aquí.</a></p>
            <input id="tokenInput" type="text" class="form-control" [formControl]="token">
            <div class="error-contenedor" *ngIf="token.errors && token.touched">
                <p class="error" *ngIf="token.hasError('required')">Este campo es requerido.</p>
            </div>
            <button type="button" class="btn-block" mat-raised-button color="primary" [disabled]="botonDesactivado" (click)="verificarToken()">Aceptar</button>
            <div>
                <p class="mensajeVolver">Si no desea continuar presione <a href="javascript:void(0)" (click)="volverInicio()">aquí</a> para volver al inicio de sesión.</p>
            </div>
        </div>
        <!-- modificación de contraseña -->
        <div *ngIf="actualizarPassword">
            <!-- Mensaje sobre contraseña -->
            <p id="indicacionPassword">
                La contraseña debe estar compuesta por: al menos una letra mayúscula, al menos un valor numérico entre 0-9 y debe tener una longitud de 8 caracteres.
            </p>

            <div class="contenedor-recuperacion shadow p-3 rounded">
                <h3>Ingrese su nueva contraseña:</h3>
                <input id="passwordInput" class="form-control" type="password" [formControl]="password">
                <div class="error-contenedor" *ngIf="password.errors && password.touched">
                    <p class="error" *ngIf="password.hasError('required')">Este campo es requerido.</p>
                    <p class="error" *ngIf="password.hasError('pattern')">Contraseña no válida. Verifique tenga el formato correcto.</p>
                </div>
                <h3>Confirme la contraseña:</h3>
                <input id="passwordConfirmInput" class="form-control" type="password" [formControl]="confirmPassword">
                <div class="error-contenedor" *ngIf="confirmPassword.errors && confirmPassword.touched">
                    <p class="error" *ngIf="confirmPassword.hasError('required')">Este campo es requerido.</p>
                </div>
                <p class="error-contenedor" class="error" *ngIf="!mismoPassword">Las contraseñas no coinciden.</p>
                <button type="button" class="btn-block" mat-raised-button color="primary" [disabled]="botonDesactivado" (click)="modificarPassword()">Enviar</button>
                <div>
                    <p class="mensajeVolver">Si no desea continuar presione <a href="javascript:void(0)" (click)="volverInicio()">aquí</a> para volver al inicio de sesión.</p>
                </div>
            </div>
        </div>


        <!-- Confirmación de modificación de contraseña. -->
        <div class="contenedor-recuperacion shadow p-3 rounded" *ngIf="volverLogin">
            <h3>Su contraseña se ha modificado exitosamente.</h3>
            <p>Ahora puede iniciar sesión en el sistema con la nueva contraseña.</p>
            <button type="button" class="btn-block" mat-raised-button color="primary" (click)="volverInicio()">
                Iniciar sesión</button>
        </div>
    </form>
</div>