/* Generales */

h2 {
    padding: 10px 15px;
    text-align: center;
    font-size: 1.8rem;
    margin: 20px 0 0 0;
}

input {
    padding-bottom: 5px;
}

.login-container {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 450px;
    padding: 10px 0;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    background-image: linear-gradient( #dce1e2, #ffffff);
    /*background-image: linear-gradient(to bottom right, #9dbcdb, #bdbfc0);*/
}

.form-login {
    padding: 25px 15px;
    font-size: 1rem;
}

.form-label {
    padding-left: 0;
}


/*ESTILO PARA RECUPERACION PASSWORD*/

#texto-olvide-password {
    font-size: 0.9rem;
    text-align: right;
}

a#linkPassword {
    color: #343a40;
}

a#linkPassword:hover {
    color: #085097;
}


/* Estilo botón para entrar al sistema */

.btn-login {
    margin: 30px 0 15px 0;
    border: none;
    /* border-radius: 25px; */
    background-color: #343a40;
}

.btn-login:hover {
    background-color: #1c2731;
}

.icono-password {
    color: #858383;
    cursor: pointer;
}


/* estilos de angular material */

mat-form-field {
    width: 100%;
}

mat-icon {
    padding-right: 30px;
}

@media only screen and (max-width: 768px) {
    .login-container {
        width: 70%;
    }
}

@media screen and (max-width:576px) {
    .login-container {
        width: 60%;
        min-width: 250px;
    }
}