<div class="center">
    <h1>Error 404 - Página no encontrada</h1>
    <h2>URL inválido</h2>
    <p>La URL <strong>{{urlActual}} </strong> no existe o no tiene acceso. <br> Verifique que la URL esté escrita correctamente.
    </p>
    <p>
        Si no ha iniciado sesión haga <a href="javascript:void(0)" (click)="redireccionarLogin()">click aquí</a>
    </p>
    <p>
        Si ya inició una sesión y quiere volver a inicio haga <a href="javascript:void(0)" (click)="redireccionarInicio()">click aquí</a>
    </p>
</div>