/* ESTILO BOTONES DEL HEADER */

.btn-header {
    width: 100%;
    margin: 10px 0;
}

#btn-nuevo {
    float: none;
    /* float: right; */
}


/* ESTILO PARA CONTENEDORES */

.lblForm {
    padding-top: 6px;
}

.content-wrapper {
    padding: 0 0 10px 0;
}

.row {
    margin-top: 10px;
}


/* ESTILO PARA TABLETS */

@media only screen and (min-width:600px) {
    /* ESTILO PARA BOTONES */
    .btn-header {
        margin-top: 20px;
        width: 100%;
    }
    #btn-nuevo {
        float: none;
    }
}


/* ESTILO PARA COMPUTADORAS */

@media only screen and (min-width: 992px) {
    /* ESTILO PARA BOTONES */
    .btn-header {
        width: 110px;
        margin-top: 10px;
    }
    #btn-nuevo {
        float: right;
    }
    #btn-limpiar {
        width: 150px;
    }
}