<!-- <div class="content-wrapper">
    <app-header [seccion]="nombreSeccion"></app-header>

    <div class="content"> -->
<div class="container-fluid">
    <div class="card">
        <div class="content-header">
            <form [formGroup]="form">
                <div class="row grupo-busqueda">
                    <div class="col-lg-7 col-md-6">
                        <div class="row">
                            <label class="lblForm col-md-auto" for="textoBusqueda">Búsqueda</label>
                            <div class="col-lg-8 col-md-9 col-sm-9 col-12">
                                <input class="form-control" type="search" name="busqueda" id="textoBusqueda" formControlName="busqueda">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-5 col-md-6">
                        <div class="row">
                            <label class="lblForm col-md-auto" for="tipoUsuarioSelector">Tipo de usuario</label>
                            <div class="col-lg-5 col-md-6">
                                <select class="custom-select" id="tipoUsuarioSelector" formControlName="tipoUsuario">
                                    <option selected>Todos</option>
                                    <option value="1">Tipo1</option>
                                    <option value="2">Tipo2</option>
                                    <option value="3">Tipo3</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="mb-3 row">

                    <div class="col-lg-5 col-md-6">
                        <div class="row input-group m-0">
                            <label id="lblEstado" class="lblForm col-md-auto" for="estadoTipoUsuario">Estado</label>
                            <div class="col-md-6">
                                <select class="custom-select" id="estadoTipoUsuario" formControlName="estado">
                                    <option selected>Todos</option>
                                    <option value="1">Activo</option>
                                    <option value="2">Inactivo</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3  col-md-6">
                        <div class="custom-control custom-switch btn-switch-container">
                            <input type="checkbox" class="custom-control-input" id="reportesActivosSwitch" formControlName="reportesActivos">
                            <label class="custom-control-label" for="reportesActivosSwitch">Con reportes activos</label>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <button id="btn-buscar" type="button" class="btn-header" mat-raised-button color="primary" (click)="buscar()">
                            <i class="fas fa-search"></i>
                                     Buscar
                        </button>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <button id="btn-nuevo" type="button" class="btn-header" mat-raised-button color="primary" (click)="nuevoUsuario()">
                            <i class="fas fa-plus-circle"></i> 
                                    Nuevo
                        </button>
                    </div>

                </div>
            </form>
        </div>
        <div class="content-card">
            <div class="table-wrapper">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th [ngClass]="tamanoColumna(encabezado)" *ngFor="let encabezado of headersTabla" scope="col">{{encabezado}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let registro of datos">
                            <td> {{ registro.ID_usuario }}</td>
                            <td>{{ registro.ID_tipoUsuario }}</td>
                            <td>{{ registro.Nombre_usuario }}</td>
                            <td *ngFor="let campo of registro">{{campo}}</td>

                            <!-- ngSwitch que muestra los botones de la última columna en la tabla, según 
                                 el lugar donde se muestra la tabla (sectores, cierre de reportes, tipos
                                de usuario, etc.) -->
                            <td>
                                <div class="botones-wrapper">
                                    <button type="button" id="btn-ver" class="btn-proceso" mat-raised-button (click)="verUsuario(registro)"> <i class="fas fa-eye"></i> Ver</button>
                                    <button type="button" id="btn-editar" class="btn-proceso" mat-raised-button (click)="editarUsuario(registro)"><i class="fas fa-pen"></i> Editar</button>
                                    <button type="button" id="btn-eliminar" class="btn-proceso" mat-raised-button (click)="eliminarUsuario(registro)"><i class="fas fa-trash-alt"></i> Eliminar</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- <app-tabla [modeloTabla]="datosUsuario" (enviarAccion)="recibirAccion($event)"></app-tabla> -->
        </div>
    </div>

</div>
<!-- </div>
</div> -->